<!DOCTYPE html>
<!-- <html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body> -->

  <!-- header include   -->
  <!-- <% include ./inc1 %>

  <div class="content" style="margin-top:90px;">
    <h1><%= title %></h1>
    <br>
    <p>Node.js로 만드는 한국형 신주소 기반의 고객접점</p>
    <br>
    <p>...</p>
  </div>

  </body>
</html> -->


<html>

<head>
  <meta charset="UTF-8">
  <meta name="author" content="LIM-YOUN-SOO" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>What3Words</title>

  <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../stylesheets/navigator.css" />

  <style>
    .btnTime {
            background-color: #9DB81A;
            -webkit-border-radius: 10;
            -moz-border-radius: 10;
            border-radius: 10px;
            font-family: Arial,맑은 고딕,돋움;
            color: #ffffff;
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            vertical-align: middle;
            text-decoration: solid;
            display: inline-block;
            width: 80px;
            padding: 5px 10px 5px 10px;
            border: solid #9DB81A 2px;
            text-decoration: none;
        }

        #popupAlertPosition {
            top: 0;
            left: 0;
            position: fixed;
            width: 100%;
            height: 120%;
            border-radius: 10px;
            background-color: rgba(0,0,0,0.7);
            display: none;
            z-index: 4;
        }

        #popupAlertHeader {
            font-size: 16px;
            font-weight: bold;
            font-family: Arial, 맑은 고딕, 돋움;
            text-align: center;
            vertical-align: middle;
            padding: 10px;
            height: 30px;
            border-radius: 10px 10px 0px 0px;
            color: #ffffff;
            background-color: #939393;
            background: linear-gradient(#939393, #424242);
        }

        #popupAlertWrapper {
            width: 250px;
            margin: 100px auto;
            text-align: left;
            border-radius: 10px;
        }

        #popupAlertContent {
            background-color: #FFF;
            padding: 15px;
            border-radius: 0px 0px 10px 10px;
        }

        #popupBoxOnePosition{
            top: 0; left: 0; position: fixed; width: 100%; height: 120%;
            background-color: rgba(0,0,0,0.7); display: none;border-radius:0px;
        }
        #popupBoxDelete{
            top: 0; left: 0; position: fixed; width: 100%; height: 120%;
            background-color: rgba(0,0,0,0.7); display: none;border-radius:0px;
        }
        #popupBoxTwoPosition{
            top: 0; left: 0; position: fixed; width: 100%; height: 120%;
            background-color: rgba(0,0,0,0.7); display: none;
        }#popupBoxThreePosition{
            top: 0; left: 0; position: fixed; width: 100%; height: 120%;
            background-color: rgba(0,0,0,0.7); display: none;
        }
        .popupBoxWrapper{
            width: 300px; margin: 0px; text-align: left;position:absolute;top:50px;left:30px;border-radius:0px;
        }
        .popupBoxContent{
            background-color: #FFF; padding: 0px;border-radius:2px;
        }

        .loader {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 5;
            width: 150px;
            height: 150px;
            margin: -75px 0 0 -75px;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }


        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
        #info {
            position: absolute;
            z-index: 3;
            background: #f6f6f6;
            bottom:0;
            width:100%;
            text-align:left;
        }

        #myPositionButton{
            position:absolute;
            z-index:3;
            right:0;
            top:50%;
            border-radius:50%;

        }
        #callCategoryButton {
            position: absolute;
            z-index: 3;
            right: 0;
            top: 60%;
            border-radius: 50%;
        }
    </style>

  <!-- //라는 상대 프로토콜 사용하면 사용자의 http, https 환경에 따라 자동으로 해당 프로토콜을 따라간다 -->
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?&appkey=9a9b328e41d45bb4d7c639a649707e2d&libraries=services,clusterer,drawing"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpEil7kuKIY3O4KzsWQkJ7fYFPkbyWLIc"></script>
  <script type="text/javascript" src="../js/map/navigator.js"></script>
  <!-- <script type="text/javascript" src="js/map/mapListener.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <!-- 채팅이 왜 필요??? -->
  <!-- <script type="text/javascript" src="/_script/chatting.js?ver=4"></script> -->
  <script>
    function toggle_visibility(id) {
            var e = document.getElementById(id);
            if (e.style.display == 'block')
                e.style.display = 'none';
            else
                e.style.display = 'block';
        }
  </script>

</head>

<body onload="initMap()">
  <% include ./inc1 %>
  <!-- #include virtual="/_include/top_menu_map.asp" -->
  <!-- #include virtual="/_include/top_menulist.asp" -->

  <div id="entire">
    <div style="margin:90px 0 10px 0;">
      <table width=100%>
        <tr>
          <td width=50%>
            <div style="margin:5px">
              <input type="hidden" id="my_position" class="form-control" disabled>
            </div>
          </td>
          <td width=50%>
            <div style="margin:5px">
              <input type="hidden" class="form-control" id="destination3Words" disabled>
            </div>
          </td>
        </tr>
        <!--    <tr>
	                <td width=100% colspan="2">
	                    <div style="margin:5px">
	                        <textarea class="form-control" style="overflow-y: hidden; overflow-x: hidden" disabled></textarea>
	                    </div>
	                </td>
	            </tr> -->
      </table>
      <table width=100%>
        <tr>
          <td>
            <div style="clear:both;height:10px"></div>
            <div id="route"></div><input type="button" style="float: right" value="경로 저장" />
          </td>
        </tr>
      </table>
    </div>
    <div style="margin-top: 5px" class="container-fluid">
      <div class="row">

        <div style="clear:both;height:5px"></div>
        <div class="col-lg-12" id="map" style="box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 1px 0px, rgba(0, 0, 0, 0.14902) 0px 1px 10px 0px;">


          <ul id="category" class="category" style="display:none;">
            <li id="FD6" data-order="0">
              <span class=""></span>
              음식점
            </li>
            <li id="AD5" data-order="1">
              <span class=""></span>
              숙박
            </li>
            <li id="CE7" data-order="2">
              <span class=""></span>
              관광명소
            </li>
            <li id="CS2" data-order="3">
              <span class=""></span>
              지하철역
            </li>
            <li id="AT4" data-order="4">
              <span class=""></span>
              카페
            </li>
            <li id="SW8" data-order="5">
              <span class=""></span>
              편의점
            </li>

          </ul>
          <button type="button" id="myPositionButton" onclick="backToMyPosition()">
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
          </button>
          <button type="button" id="callCategoryButton" onclick="callCategory()">
            <span class="glyphicon glyphicon-option-horizontal"></span>

          </button>

          <div id="info" style="display:none"> </div>
        </div>

      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12" id="photo">
          <div>


          </div>
          <br>
          <div class="row">
            <div class="col-xs-12 col-sm-12">
            </div>
          </div>

          <hr />
          <div class="row">
            <!--
	                    <div class="col-xs-1 col-sm-1" style="background-color: brown">q  </div>
	                    <div class="col-xs-5 col-sm-5" style="background-color: black">w  </div>
	                    <div class="col-xs-5 col-sm-5" style="background-color: red">e  </div>
	                    <div class="col-xs-1 col-sm-1" style="background-color: brown">r  </div>
	                    -->
            <div class="col-xs-12 col-sm-12">
              <!-- <input type="button" style="float: right" onclick="sendParameterToSearchRoute()" value="경로 탐색" /> -->
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <!-- 필요 한 것인가??? -->
  <div id="popupAlertPosition">
    <div id="popupAlertWrapper">
      <div id="popupAlertHeader">
        What3Words
      </div>
      <div id="popupAlertContent">
        <table width="100%" border="0" style="padding: 0; margin: 0; border-color: gray">
          <tr>
            <td style="text-align: center; height: 40px;"><span id="alerttext"></span>
            </td>
          </tr>
        </table>
        <br />
        <table width="100%" border="0" style="padding: 0px; margin: 0px;">
          <tr>
            <td style="text-align: center;" id="customAlert">
              <!-- <a href="javascript:void(0)" onclick="toggleAlert();"><span class="btnTime">OK</span></a> -->
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="loader" style="display:none;" id="loader"></div>
  <script>
addCategoryClickEvent();
    </script>
</body>
<!-- post action end -->

</html>
