<html>

<head>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.css">
</head>

<body>
    <header>
        <div style="height: 100%;">
            <table style="float: left; width: 100%;">
                <tbody>
                    <tr style="height: 5px;"></tr>
                    <tr>
                        <td>
                            <img src="image/map.png">
                        </td>
                        <td>
                            <img src="image/talk.png">
                        </td>
                        <td>
                            <img src="image/board.png">
                        </td>
                        <td>
                            <img style="float: right;" src="image/menu.png">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </header>
    <div class="container">
        <table class="table table-bordered">
            <thead>
                글쓰기
            </thead>
            <tbody>
                <form action="/board/write_review" method="post" encType="multiplart/form-data">
                    <tr>
                        <th>제목: </th>
                        <td colspan="3"><input type="text" placeholder="제목을 입력하세요. " name="subject" class="form-control" /></td>
                    </tr>
                    <tr>
                        <th>인원</th>
                        <td><input type="number" name="board_people"></td>
                        <th>돈</th>
                        <td><input type="number" name="board_money"></td>
                    </tr>
                    <tr>
                        <th>체류시간</th>
                        <td><input type="number" name="board_time"></td>
                        <th>평균나이</th>
                        <td><input type="number" name="board_age"></td>
                    </tr>
                    <tr>
                        <th>내용: </th>
                        <td colspan="3"><textarea cols="10" placeholder="내용을 입력하세요. " name="content" class="form-control"></textarea></td>
                    </tr>
                    <tr>
                        <th>첨부파일: </th>
                        <td colspan="3"><input type="file" placeholder="파일을 선택하세요. " name="filename" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <input type="button" value="등록" onclick="sendData()" class="pull-right" />
                            <input type="button" value="reset" class="pull-left" />
                            <input type="button" value="글 목록으로... " class="pull-right" onclick="javascript:location.href='list.jsp'" />
                        </td>
                    </tr>
                </form>
            </tbody>
        </table>
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js">
    </script>
</body>

</html>
