
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>HOT TRACE</title>
  
  
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>

      <link rel="stylesheet" href="../stylesheets/loginform.css">
  
</head>

<body>
    <% if(locals.login == false){ %>
       <script type="text/javascript">
        alert("아이디와 비밀번호를 확인해주세요.");
        </script>
    <% } %>
    <% if(locals.join == true){ %>
       <script type="text/javascript">
        alert("회원가입이 완료되었습니다.");
        </script>
    <% } %>
    <% if(locals.join == false){ %>
       <script type="text/javascript">
        alert("이미 존재하는 ID입니다.");
        </script>
    <% } %>
  <div class="login-wrap">
	<div class="login-html" style="">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">
		<form action="/login" method="post" onSubmit="return login_check()">
		          <script>
                    function login_check(){
                        var user = document.getElementById('user').value;
                        var pwd = document.getElementById('pass').value;
                        var err = document.getElementById('err2');
                        if(user == ''){
                            err.style.visibility="visible"; 
                            err.innerHTML='아이디를 입력해주세요.';
                            return false;
                        }else if(pwd == ''){
                            err.style.visibility="visible"; 
                            err.innerHTML='패스워드를 입력해주세요.';
                            return false;
                        }else{
                            err.style.visibility="hidden";
                            return true;
                        }
                    }
                </script>
			<div class="sign-in-htm" style="margin-top: 120px">
				<div class="group" >
					<label for="user" class="label">ID</label>
					<input id="user" type="text" class="input" name="email">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="input" data-type="password" name="password">
				</div>
				<div class="group" align = "center">
    				<label id="err2" style="color:red; visibility: hidden">&nbsp;</label>
                </div>
				<div class="group">
					<input type="submit" class="button" value="Sign In" style="margin-top: 100px">
				</div>
				<div class="hr"></div>				
			</div>
        </form>
			
			<div class="sign-up-htm" style="margin-top:10px">
			    <form action="/join" method="post" onSubmit="return join_check()">
                <script>
                    function join_check(){
                        var name = document.getElementById('name').value;
                        var age = document.getElementById('age').value;
                        var email = document.getElementById('email').value;
                        var pw = document.getElementById('password').value;
                        var rpw = document.getElementById('rpw').value;
                        var err = document.getElementById('err');
                        if(name == ''){
                            err.style.visibility="visible"; 
                            err.innerHTML='이름을 입력해주세요.';
                            return false;
                        }else if(pw == ''){
                            err.style.visibility="visible"; 
                            err.innerHTML='패스워드를 입력해주세요.';
                            return false;
                        }else if(pw !== rpw){
                            err.style.visibility="visible"; 
                            err.innerHTML='패스워드가 일치하지 않습니다.';
                            return false;
                        }else if(age == ''){
                            err.style.visibility="visible"; 
                            err.innerHTML='나이를 입력해주세요.';
                            return false;
                        }else if(email == ''){
                            err.style.visibility="visible"; 
                            err.innerHTML='아이디를 입력해주세요.';
                            return false;
                        }else{
                            err.style.visibility="hidden";
                            return true;
                        }
                    }
                </script>
			        <div class="group" style="float:left">
					    <label for="name" class="label" >NAME</label>
					    <input id="name" type="text" name="name" class="input" style="width:265px">
				    </div>
				    <div class="group" style="float:left; margin-left: 20px">
				    	<label for="age" class="label">AGE</label>
				    	<input id="age" type="text" class="input" name="age" style="width:100px">
		    		</div>
			    	<div class="group">
				    	<label for="email" class="label">ID</label>
    					<input id="email" type="text" class="input" name="email">
	    			</div>
		    		<div class="group">
			    		<label for="password" class="label">Password</label>
				    	<input id="password" type="password" class="input" name="password" data-type="password">
    				</div>
    				<div class="group">
    					<label for="rpw" class="label">Repeat Password</label>
    					<input id="rpw" name="rpw" type="password" class="input" data-type="password">
    				</div>
    				<div class="group" align = "center">
    				    <label id="err" style="color:red; visibility: hidden">&nbsp;</label>
    				</div>
    				<div class="group" style="margin-top:10px">
    					<input type="submit" class="button" value="Sign Up">
    				</div>
			    </form>
			    
				<div class="hr"></div>
				<div class="foot-lnk">
					<label for="tab-1">Already Member?</a>
				</div>
			</div>
		</div>
	</div>
</div>
  
  

</body>

</html>
